# gitignore
.ipynb_checkpoints/Accidental Drug Related Deaths-checkpoint.ipynb
.ipynb_checkpoints/Accidental Drug Related Deaths-checkpoint.ipynb
.ipynb_checkpoints/Accidental Drug Related Deaths-checkpoint.ipynb
.ipynb_checkpoints/Accidental Drug Related Deaths-checkpoint.ipynb
.ipynb_checkpoints/Unemployment_rate-checkpoint.ipynb
__pycache__/config.cpython-36.pyc
.ipynb_checkpoints/Death and umployment-checkpoint.ipynb
.ipynb_checkpoints/Clean the death related death data-checkpoint.ipynb
config.py
.ipynb_checkpoints/Data_cleaning-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
